<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="48" />
    </connectionManagement>
    <settings>
      <servicePointManager expect100Continue="false" useNagleAlgorithm="false" />
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>